<!DOCTYPE html>
<html>
<head>
  <title>!!TITLE WTFBBQ!!</title>
  
  <meta charset='utf-8'>
  <script src="slides.js"></script>
  <base target="_blank"/> 
</head>
<body style='display: none'>

<section class='slides layout-regular template-default'>
<article>
  <h1>!!TITLE WTFBBQ!!</h1>
  <h3>awesumz talk kthnxbai</h3>
  <p><em>someplace, somewhere, somehow</em></p>
</article>

<article>
  <h1>Follow along</h1>
  <h3>This talk is a website!</h3>
  <h3><a href="">link here please!!</a></h3>
  <h3>...and on <a href="github branch here please!!">github branch here please!!</a></h3>
</article>

<article>
  
  <h3>Some slide title</h3>
  <ul class="build">
    <li>Wherever</li>
    <li>you go</li>
    <li>there...</li>
    <li>you are!</li>
  </ul>
</article>

<article>
<h1>Q&A</h1>
</article>

</body>
</html>
